@model IEnumerable<Appointment.Models.SchedulerModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
.my-button {
            background-color: #0F52BA; 
  color: #fff;
  font-size: 16px; 
  padding: 3px 5px; 
  margin: 3px; 
            border: 3px solid #000000; /
  border-radius: 5px;
  cursor: pointer; 
}
.my-button:hover {
                background-color: #3399FF; 
}

        .delete-button {
            background-color: #0F52BA;  
            color: #fff; 
            font-size: 16px;
            padding: 3px 5px; 
            margin: 3px; 
            border: 3px solid #000000; 
            border-radius: 5px; 
            cursor: pointer;
        }

            .delete-button:hover {
                background-color: #990004; 
            }
            .row-highlight{
                background-color:aquamarine;
            }
    </style>
</head>

<h2>Index</h2>


    @*<a asp-action="Create"><button class="btn btn-primary" type="submit">Create</button></a>*@
    <div style="overflow: auto;">
        <a asp-action="Create"><button class="my-button" type="submit">Create</button></a>
        <a asp-action="Search" style="float: right; margin-right: 10px;"><button class="my-button" type="submit">Search</button></a>
    </div>
 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>Action</th>
        </tr>
    </thead>
<tbody>
    @foreach (var item in Model) {
            @*var current_date = new DateTime();*@
            DateTime currentDateTime = DateTime.Now;
            @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AppointmentId"><button class="my-button" type="submit">Edit</button></a>
                    <a asp-action="Details" asp-route-id="@item.AppointmentId"><button class="my-button" type="submit">Details</button></a>
                    <a asp-action="Delete" asp-route-id="@item.AppointmentId"><button class="delete-button" type="submit">Delete</button></a>
                </td>
            </tr>*@
            if (currentDateTime > item.EndTime)
            {
                @*<div class="row-highlight">*@
                  <tr style="background-color:mediumvioletred">
                        <td>
                        <b>@Html.DisplayFor(modelItem => item.AppointmentId)</b>
                        </td>
                        <td>
                        <b>@Html.DisplayFor(modelItem => item.Title)</b>
                        </td>
                        <td>
                        <b>@Html.DisplayFor(modelItem => item.Description)</b>
                        </td>
                        <td>
                        <b>@Html.DisplayFor(modelItem => item.StartTime)</b>
                        </td>
                        <td>
                        <b>@Html.DisplayFor(modelItem => item.EndTime)</b>
                        </td>
                        <td>
                        <b>@Html.DisplayFor(modelItem => item.Location)</b>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.AppointmentId"><button class="my-button" type="submit">Edit</button></a>
                            <a asp-action="Details" asp-route-id="@item.AppointmentId"><button class="my-button" type="submit">Details</button></a>
                            <a asp-action="Delete" asp-route-id="@item.AppointmentId"><button class="delete-button" type="submit">Delete</button></a>
                        </td>
                    </tr>
                @*</div>*@

            }
            else
            {
                <tr style="background-color:#FFF9E3;">
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.AppointmentId)</b>
                    </td>
                    <td>
                        <b>
                            @Html.DisplayFor(modelItem => item.Title)
                        </b>
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.Description)</b>
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.StartTime)</b>
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.EndTime)</b>
                    </td>
                    <td>
                        <b>@Html.DisplayFor(modelItem => item.Location)</b>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AppointmentId"><button class="my-button" type="submit">Edit</button></a>
                        <a asp-action="Details" asp-route-id="@item.AppointmentId"><button class="my-button" type="submit">Details</button></a>
                        <a asp-action="Delete" asp-route-id="@item.AppointmentId"><button class="delete-button" type="submit">Delete</button></a>
                    </td>
                </tr>
            }

}
    </tbody>
</table>
